body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h3{
    color: orange;
}

span{
    color: orange;
}

img{
    width: 100%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.fexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 45%;
    margin-left: 5%;
    padding: 3%;
}

.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    background: linear-gradient(45deg, lightsalmon, tomato);
}

/* Dream Big CSS Section */
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Experience Section CSS */

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray ;
    padding: 10px;
}

h2{
    font-size: 40px;
}

#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid blue;
}
footer{
    text-align: center;
}